---
import About from '../components/home/About.astro';
import Cta from '../components/home/Cta.astro';
import Expertise from '../components/home/Expertise.astro';
import Hero from '../components/home/Hero.astro';
import Services from '../components/home/Services.astro';
import CoreTeam from '../components/home/CoreTeam.astro';
import Testimonials from '../components/home/Testimonials.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Empowering wellness one person at a time."
  title="Shree Collective"
>
  <Hero />
  <CoreTeam />
  <About />
  <Expertise />
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-start gap-8 sm:gap-10 justify-center items-center">
        <img
              class="h-auto w-256 rounded-3xl"
              width="640"
              height="640"
              src="/assets/mandala.jpg"
              alt="Mandala"
            />
      </div>
    </div>
  </div>
<!--  <Testimonials /> -->
  <Cta />
</Layout>
