<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">About</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
          Shree Collective is a mission-driven startup transforming screen time into meaningful personal growth through our innovative chatbot companion, Dharma Bob. Led by renowned scholar Bob Thurman and a dynamic team, we blend technology with ancient wisdom to create a fresh, playful, and modern experience for young seekers of all backgrounds. Our platform appeals to anyone interested in deepening their spiritual practices, whether they are beginners or advanced practitioners. At Shree Collective, we use technology as a tool for positive change, offering users a way to explore deeper understanding and personal growth with curiosity and joy.
        </p>
<!--        <a
          href="/contact"
          class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Contact us
        </a>  -->
      </div>
    </div>
  </div>
</section>
