<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div
      class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col items-center gap-8 rounded-3xl px-5 py-16 sm:gap-10"
    >
      <div class="px-5 sm:px-20 py-8 grid gap-12 lg:grid-cols-2 lg:gap-8">
        <div class="flex items-center justify-center">
          <div class="flex">
            <a
              href="https://dharmabob.ai/"
              target="_blank"
              class="focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200 rounded-md focus-visible:outline focus-visible:outline-2"
            >
              <span class="sr-only">Shree Collective Inc.</span>
              <img
                class="h-96 w-auto"
                width="1120"
                height="1278"
                :src="'/assets/bob_preview.svg'"
                alt="Shree Collective Inc."
              />
            </a>
          </div>
        </div>
        <div class="flex flex-col gap-4 sm:gap-6">
          <h2 class="mx-auto max-w-sm text-3xl font-medium tracking-tight sm:text-4xl">
            Introducing Dharma Bob
          </h2>
          <p class="text-primary-950/70 dark:text-primary-200/70 mx-auto max-w-2xl text-lg">
            Coming soon from Shree Collective, Dharma Bob offers a fresh and modern approach to integrating ancient wisdom into your daily life. Whether you're just starting on your journey or looking for deeper insights, our AI companion will guide you with playful interactions and thoughtful advice.
          </p>
          <div class="flex justify-center">
            <a
              href="https://dharmabob.ai/"
              target="_blank"
              class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              Check it out
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>