<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-start gap-8 sm:gap-10">
        <div class="flex max-w-xl flex-col items-start gap-4 sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
            Embrace Growth, Cultivate Peace
          </h1>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-lg sm:text-xl">
            Transform your digital experience into moments of personal growth with <strong>Dharma Bob</strong> from <em>Shree Collective</em>. Our modern approach makes spirituality accessible and engaging for all.
          </p>
        </div>
        <a
          href="/contact"
          class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Contact Us
        </a>
      </div>
      <figure class="flex flex-col items-center justify-center">
        <img
          class="h-auto w-full rounded-3xl"
          width="1280"
          height="640"
          src="/assets/hero.webp"
          alt="Hero picture"
        />
        <figcaption class="text-primary-950/70 dark:text-primary-200/70 text-lg sm:text-sm">Stabile Diffusion illustration adapted from <a href="https://commons.wikimedia.org/wiki/File:Famed_Buddhist_Nalanda_University_ruins,_1993.jpg" target="_blank" rel="nofollow">photo of Nalanda University</a> by <a href="https://www.flickr.com/people/71401718@N00" target="_blank" rel="nofollow">Wonderlane</a> / <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank" rel="nofollow">CC-BY-2.0</a></figcaption>
      </figure>
    </div>
  </div>
</section>
